.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bingo-container {
  background-color: #1c5f4a;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 100vw;
}

.space {
  border: 2px solid white;
  padding: 4vw;
  max-width: 200px;
  max-height: 200px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1c5f4a;
}
h2 {
  color: #d8a158;
}

.free-space {
  background: #d8a158;
}

.free-space h2 {
  color: #000000;
}

.selected {
  background-color: #d8a158;
}
.selected h2 {
  color: black;
}
