.App {
  text-align: center;
  background-color: #1c5f4a;
}

#list {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

ul {
  list-style-type: none;
}

li {
  border: 2px solid white;
  padding: 4vw;
}

li.clicked {
  background-color: black;
}
